<p id="notice"><%= notice %></p>

<h1>История запросов на выплату</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Дата-время</th>
      <th>Сумма выплаты</th>
      <th>Телефон клиента</th>
      <th>Номер банковской карты</th>
      <th>ФИО получателя</th>
      <th>Запрос на выплату</th>
      <th>Проверка статуса</th>
    </tr>
  </thead>

  <tbody>
    <% @payouts.each do |payout| %>
      <tr>
        <td><%= payout.id %></td>
        <td><%= payout.dt %></td>
        <td><%= number_to_currency(payout.amount, unit: "&#8381;".html_safe, format: "%n%u") %></td>
        <td><%= payout.phone %></td>
        <td><%= payout.client %></td>
        <td><%= payout.receiver_fio %></td>
        <td><%= payout.response_payout %></td>
        <td><%= payout.response_check %></td>
<!--        <td><%#= link_to 'Смотреть', payout %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Создать запрос на выплату', new_payout_path %>
</p>
